# VacationPy Module-06-Challenge | python-api-challenge

In [46]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

In [47]:
# Fix gmaps is_atomic failure
from collections.abc import *
from collections import abc

In [48]:
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [49]:
city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df.head()

,City_TD,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.6001,-73.9662,94.57,58,81,1.99,US,1659985138
1,1,Pitimbu,-7.4706,-34.8086,81.19,72,30,15.75,BR,1659985499
2,2,Kapaa,22.0752,-159.3190,81.12,71,0,12.66,US,1659985501
3,3,Mestia,43.0458,42.7278,56.79,89,52,5.08,GE,1659985502
4,4,Bluff,-46.6000,168.3333,34.81,69,2,17.36,NZ,1659985504

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [50]:
# configure gmaps
gmaps.configure(api_key=g_key)

In [52]:
# heatmap of humidity

city_data_df = city_data_df.dropna()


locations = city_data_df[["Lat", "Lng"]].astype(float)

humidity = city_data_df["Humidity"].astype(float)

fig = gmaps.figure()

# add heatmap layer
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=humidity,
    dissipating=False,
    max_intensity=300,
    point_radius=5
)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [53]:
# Filter cities by Max Temp between 70 and 80, Humidity less than 51%, and Cloudiness < 30%


ideal_cities_df = city_data_df[(city_data_df["Max Temp"]<81) & (city_data_df["Max Temp"]>70) & (city_data_df["Humidity"]<51) & (city_data_df["Cloudiness"]<30)]


ideal_cities_df

,City_TD,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
40,40,Kamenka,51.3223,42.7678,73.31,37,9,7.43,RU,1659985269
70,70,Atikokan,48.7555,-91.6216,75.42,34,0,6.55,CA,1659985604
154,154,Almaznyy,48.0448,40.0450,76.48,24,6,5.73,RU,1659985728
226,226,Manono,-7.3000,27.4167,78.66,26,2,5.68,CD,1659985842
242,242,Kalach-na-Donu,48.6910,43.5264,77.11,36,16,14.29,RU,1659985866
332,332,Stratoni,40.5141,23.8247,78.96,46,3,3.36,GR,1659986005
357,357,Moville,42.4889,-96.0725,76.69,27,0,8.97,US,1659986042
383,383,Krasnogvardeyskoye,45.8456,41.5186,74.89,40,0,7.11,RU,1659986080
423,423,Navoiy,40.0844,65.3792,74.68,25,0,2.30,UZ,1659986142
463,463,Lodja,-3.4833,23.4333,79.92,34,28,0.67,CD,1659986200
471,471,Francistown,-21.1700,27.5079,70.81,25,0,8.37,BW,1659986211
499,499,Chibuto,-24.6867,33.5306,72.09,42,0,11.81,MZ,1659986258
541,541,Requena,39.4883,-1.1004,75.79,49,0,8.55,ES,1659986322

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [54]:
# Create Hotel DataFrame with empty "Hotel Name" column

hotel_df = ideal_cities_df[["City", "Lat", "Lng", "Country"]]

hotel_df["Hotel Name"] = ""

hotel_df

C:\Users\MattM\AppData\Local\Temp\ipykernel_19676\896114060.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

                   City      Lat      Lng Country Hotel Name
40              Kamenka  51.3223  42.7678      RU
70             Atikokan  48.7555 -91.6216      CA
154            Almaznyy  48.0448  40.0450      RU
226              Manono  -7.3000  27.4167      CD
242      Kalach-na-Donu  48.6910  43.5264      RU
332            Stratoni  40.5141  23.8247      GR
357             Moville  42.4889 -96.0725      US
383  Krasnogvardeyskoye  45.8456  41.5186      RU
423              Navoiy  40.0844  65.3792      UZ
463               Lodja  -3.4833  23.4333      CD
471         Francistown -21.1700  27.5079      BW
499             Chibuto -24.6867  33.5306      MZ
541             Requena  39.4883  -1.1004      ES

In [55]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


# gmap api params
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}



# loop over each row
for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    
    
### altering ending 11/15    
# fetch nearby hotels, take first one
    #places = requests.get(base_url, params=params).json()
    #hotel = places["results"][0]["name"]
    #hotel_df.loc[index, "Hotel Name"] = hotel

#hotel_df


#altering ending 11/15

    hotel_response = requests.get(base_url, params=params)
  

    hotel_json = hotel_response.json()
    pprint(hotel_json) # to check the indices of the hotel name 
    
 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_json["results"][1]["name"]
        print(f"First hotel in {target_radius} meters is {hotel_json['results'][1]['name']}")
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
    
    print("--------------------------------------")

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Missing field/result... skipping.
--------------------------------------
{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 48.7563552, 'lng': -91.61837},
                           'viewport': {'northeast': {'lat': 48.7577740802915,
                                                      'lng': -91.6168095197085},
                                        'southwest': {'lat': 48.75507611970851,
                                                      'lng': -91.6195074802915}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'icon_background_color': '#909CE1',
              'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet',
              'name': 'Quetico Inn (formerly Radisson)',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 1960,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/100988952820555028818">John '
                                                'Bartucz</a>'],
                          'photo_reference': 'AW30NDyy1KQkUxrPXNcY4bZaq-SLVN44fJnlvUVTxBuL1vMOm_cwsa-JNW0ePDfjHCHDKHM4lhMwvdfId8Mb6XXV4Yw15ImCEJUcisG6K16rKsIHfeGCLDVJJVmB-myTkhxzGQxgabGlkoIiqaBrKOcsyqitt-fYuRt_2RmuSiJeEAXGUaGw',
                          'width': 4032}],
              'place_id': 'ChIJF2fqgvH2o1IR-ysmBDYs4dQ',
              'plus_code': {'compound_code': 'Q94J+GM Atikokan, ON, Canada',
                            'global_code': '86WCQ94J+GM'},
              'rating': 4.2,
              'reference': 'ChIJF2fqgvH2o1IR-ysmBDYs4dQ',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 34,
              'vicinity': '310 Mackenzie Avenue East, Atikokan'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 48.75622179999999,
                                        'lng': -91.58741719999999},
                           'viewport': {'northeast': {'lat': 48.75761483029149,
                                                      'lng': -91.58617581970849},
                                        'southwest': {'lat': 48.7549168697085,
                                                      'lng': -91.5888737802915}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/camping-71.png',
              'icon_background_color': '#4DB546',
              'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/camping_pinlet',
              'name': 'Bunnell Park Campground',
              'photos': [{'height': 3024,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/110303305534156832336">Don '
                                                'McCormick</a>'],
                          'photo_reference': 'AW30NDxoMKYNrnm2nqNVcz8cinXhjxOBn7B2izd_mbd8CyYEVg7qkt6ov8q-Ix7E_pOvg5XNs1Nwye1mx9usJDSxSg-k9HYTUlewA9qn_RUgD_l5heknHwOYLEZ-tPd2nxZ38BQINDNXgaxDtO1jJSW5I9JbN9NR0ZmYmXupTOOXVFnlfNqN',
                          'width': 4032}],
              'place_id': 'ChIJSfGYvA73o1IRCrAPIAfef4M',
              'plus_code': {'compound_code': 'QC47+F2 Atikokan, ON, Canada',
                            'global_code': '86WCQC47+F2'},
              'rating': 4.2,
              'reference': 'ChIJSfGYvA73o1IRCrAPIAfef4M',
              'scope': 'GOOGLE',
              'types': ['campground',
                        'park',
                        'lodging',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 21,
              'vicinity': 'Ontario 622, Atikokan'}],
 'status': 'OK'}

NameError: name 'target_radius' is not defined

In [56]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [57]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))